*.py[cod]
*.xlsx
*.gz
*.csv

*.ipynb_checkpoints
*.ipynb
__pycache__/
.DS_Store

Untitled*
tmp*
notes*

config.py
config_preprocess.py
create_emr_cluster.sh
scp_files.sh
2020-10-12_wet_paths_10series.csv
2020-*

project_dev/